<!-->
HBS 파일이란?
hbs 파일은 Handlebars 템플릿 엔진을 사용하여 작성된 HTML 템플릿 파일입니다. Handlebars는 Node.js에서 주로 사용되는 템플릿 엔진으로, 
데이터와 템플릿을 결합해 동적 HTML을 생성
Handlebars 템플릿 엔진은 간단한 문법과 데이터 바인딩 기능을 제공하여 동적 웹 페이지를 생성하는 데 매우 유용함
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home</h1>
</body>
</html>